@import "tailwindcss";

@theme {
    --font-lexend: "Lexend", "serif";
    --font-plus: "Plus Jakarta Sans", "sans-serif";
    --color-text: #0939B1;
    --color-text2:#0133AB;
    --color-text3:#979797;
    --color-bg:#0032AA;
    --color-bal:#F5F9FF
  
  }